---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: configurations.api.core.anaisurl.com
spec:
  group: api.core.anaisurl.com
  names:
    kind: Configuration
    listKind: ConfigurationList
    plural: configurations
    singular: configuration
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Configuration is the Schema for the configurations API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConfigurationSpec defines the desired state of Configuration
            properties:
              allowPrivilegeEscalation:
                description: Set allowPrivilegeEscalation
                type: boolean
              containerPort:
                description: Set ContainerPort
                format: int32
                type: integer
              imageTag:
                description: Set Container Imagetag
                type: string
              limits:
                anyOf:
                - type: integer
                - type: string
                description: CPU limits
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              memorylimits:
                anyOf:
                - type: integer
                - type: string
                description: Memory limits
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              memoryrequests:
                anyOf:
                - type: integer
                - type: string
                description: Memory requests
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              readOnlyRootFilesystem:
                description: Set readOnlyRootFilesystem
                type: boolean
              requests:
                anyOf:
                - type: integer
                - type: string
                description: CPU requests
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              runAsNonRoot:
                description: Set runAsNonRoot
                type: boolean
            type: object
          status:
            description: ConfigurationStatus defines the observed state of Configuration
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
